<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="get" action="/login">
        <label>
            Username:
            <input name="username" type="text"/>
        </label>
        <label>
            Password:
            <input name="password" type="password"/>
        </label>
        <input type="submit" value="login"/>
    </form>
    <% if(locals.username) %>
    <%= username %>  
</body>
</html>